        <form action="/addlocation" method="POST" class="form" id="form">
                <div class="form-items">
                    <label class="form-label" for="product">Location Name:</label>
                    <input class="form-input" type="text" id="location-name" name="location-name" placeholder="Enter Location Name:" required>
                    <div class="form-error"></div>
                </div>
                <div class="form-items">
                    <label class="form-label" for="product">Location Description:</label>
                    <textarea maxlength="250" class="form-input" id="location-description" name="location-description" placeholder="Enter a description of the location. (Max 250 chars):"></textarea>
                    <div class="form-error"></div>
                </div>
                <input class="modal-submit-btn" type="submit" value="Submit">
            </form>

