        <form action="/addproducts" method="POST" class="form" id="form">
                <div class="form-items">
                    <label class="form-label" for="product">Product Name:</label>
                    <input class="form-input" type="text" id="product-name" name="product-name" placeholder="Enter Product Name:" required autocomplete="off">
                    <div class="form-error"></div>
                </div>
                <div class="form-items">
                    <label class="form-label" for="product-price">Product Price:</label>
                    <input class="form-input" type="number" id="product-price" name="product-price" placeholder="Enter Product Price:" step=".01" min="0" autocomplete="off">
                    <div class="form-error"></div>
                </div>
                <div class="form-items">
                    <label class="form-label"for="product-quanitity">Product Quantity:</label>
                    <input class="form-input" type="number" id="product-quanitity" name="product-quanitity" placeholder="Enter Product Quantity:" autocomplete="off">
                    <div class="form-error"></div>
                </div>
                <div class="form-items">
                    <label class="form-label" for="product">Product Description:</label>
                    <textarea maxlength="250" class="form-input" id="product-description" name="product-description" placeholder="Enter a description of the product. (Max 250 chars:"></textarea>
                    <div class="form-error"></div>
                </div>
                <input class="modal-submit-btn" type="submit" value="Submit">
            </form>

